<div>
  <h1>Testing Directives</h1>

  <p>
    To follow <b>Behavior Driven approach</b>, we need to test our high-level behavior first,
    so here is a component that should render our data.
  </p>

  <h3>Test</h3>
  <code>tests/directives/ChampList.unit.js</code>

  <h3>Code</h3>
  <code>js/src/directives/champList.js</code>

  <h3>Your task:</h3>
  <ul>
    <li>Add date formatting</li>
    <li>Add other possible test-cases</li>
    <li>Think about possible errors</li>
    <li>Follow <b>TDD principle</b> approach.</li>
  </ul>

  <p>Remember the <b>TDD Mantra</b>:</p>
  <ol style="font-size:2em">
    <li><span class="label label-danger">Red</span></li>
    <li><span class="label label-success">Green</span></li>
    <li><span class="label label-primary">Refactor</span></li>
  </ol>

  <div class="clearfix">
    <a href="/#/services" class="btn btn-primary pull-right">Let's get some data!</a>
  </div>
  <br>
</div>