<div>
  <h1>Testing Services</h1>

  <p>
    Alright, as long as we have clear understanding of what we're
    <b>doing right thing</b>, we can dig into details of implementation
    and make sure we are <b>doing this thing right</b>!
  </p>
  <p>
    Here we can fully test data models, API calls and transformations.
  </p>

  <h3>Test</h3>
  <code>tests/services/CompetitionsService.unit.js</code>

  <h3>Code</h3>
  <code>js/src/services/CompetitionsService.js</code>

  <h3>Your task:</h3>
  <ul>
    <li>Enable this service to retrieve competitions for multiple years</li>
    <li>Handle the case one request is failed</li>
    <li>Follow <b>TDD principle</b></li>
  </ul>

  <div class="clearfix">
    <a href="/#/services" class="btn btn-primary pull-right">Proceed</a>
  </div>
  <br>
</div>